@media screen and (min-width:720px) and (max-width:1079px){}
@media screen and (min-height:720px) and (max-height:1079px){}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
main{
    background-color: teal;
    width: 90%;
    height: 90%;
    margin: 0% auto 0% auto;
    text-align: center;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 4vw;
    color: white;
}
img{
    height: auto;
    max-width: 100%;
    display:block;
}
.zmiennaH{
    margin: 3% 2% 0% 3%;
    height: 40%;
    width: 30%;
    float: left;
}
.zmianaR{
    margin: 0% 2% 0% 0%;
    height: 40%;
    width: 30%;
    float: left;
}
.zmianaS{
    margin: 0% 0% 0% 0%;
    height: 40%;
    width: 30%;
    float: left;
}
.zmianaWa{
    margin: 0% 2% 0% 0%;
    height: 40%;
    width: 30%;
    float: left;
}
.zmianaWy{
    margin: 0% 0% 0% 0%;
    height: 40%;
    width: 30%;
    float: left;
}
.zmianaI{
    margin: 0% 0% 0% 0%;
    height: 40%;
    width: 30%;
    float: left;
}
.historia > .zmianaH{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}
.historia:hover .zmianaH{
    opacity: 1;
}
.rekonstrukcja > .zmianaR{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}   
.rekonstrukcja:hover .zmianaR{
    opacity: 1;
}
.stroj > .zmianaS{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}
.stroj:hover .zmianaS{
    opacity: 1;
}
.walka > .zmianaWa{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}
.walka:hover .zmianaWa{
    opacity: 1;
}
.wydarzenia > .zmianaWy{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}
.wydarzenia:hover .zmianaWy{
    opacity: 1;
}
.informacje > .zmianaI{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: brown;
}
.informacje:hover .zmianaI{
    opacity: 1;
}
.historia{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    margin: 3% 2% 0% 3%;
}
.rekonstrukcja{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    margin: 3% 2% 0% 0%;
}
.stroj{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    margin: 3% 0% 0% 0%;
}
.walka{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    clear: both;
    margin: 4% 2% 0% 3%;
}
.wydarzenia{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    margin: 4% 2% 0% 0%;
}
.informacje{
    position: relative;
    width: 30%;
    height: 40%;
    float: left;
    margin: 4% 0% 0% 0%;
}
